<!--
SPDX-FileCopyrightText: 2022 Jos van den Oever

SPDX-License-Identifier: AGPL-3.0-only
-->

<script setup lang="ts">
import { PageSelection } from "../Annotation";
import { useAnnotationsStore } from "../stores/annotations";
import { createPdfAnnotation } from "../pdf-annotation-util";
import { getTextQuote } from "../pdf";
const props = defineProps<{
  selection: PageSelection;
}>();
const annotationsStore = useAnnotationsStore();

function addAnnotation() {
  if (props.selection.selection) {
    const s = props.selection.selection;
    const textQuote = getTextQuote(s.texts, s.startOffset, s.endOffset);
    console.log(props.selection.selection);
    const pa = createPdfAnnotation(
      props.selection.pdfUrl,
      annotationsStore.userUrl,
      props.selection.page,
      textQuote
    );
    annotationsStore.addAnnotation({
      id: annotationsStore.getNextAnnotationId(),
      selection: props.selection.selection,
      page: props.selection.page,
      annotation: pa,
    });
  }
}
</script>

<template>
  <button :disabled="!selection.selection" @click="addAnnotation">+</button>
</template>

<style scoped>
button:disabled,
button[disabled] {
  color: lightgray;
}
</style>
