<!--
SPDX-FileCopyrightText: 2022 Jos van den Oever

SPDX-License-Identifier: AGPL-3.0-only
-->

<script setup lang="ts">
import { nextTick, ref } from "vue";
import { Annotation } from "../Annotation";
import { useAnnotationsStore } from "../stores/annotations";
const props = defineProps<{
  annotation: Annotation;
}>();
const annotationsStore = useAnnotationsStore();
// let an element start out with focus if it has 'v-focus'
const vFocus = {
  mounted: (el: HTMLElement) => {
    el.focus();
  },
};

const textarea = ref<HTMLTextAreaElement>();
const storeButton = ref<HTMLButtonElement>();
let hover = false;
// start in edit mode if this is a new annotation
const editing = ref(
  Date.now() - props.annotation.annotation.created.getTime() < 1000
);

function mouseover() {
  if (!hover) {
    hover = true;
    annotationsStore.setHovered(props.annotation);
  }
}
function mouseleave() {
  if (hover) {
    hover = false;
    annotationsStore.setHovered(undefined);
  }
}
function deleteAnnotation() {
  annotationsStore.deleteAnnotation(props.annotation);
}
function storeAnnotation() {
  editing.value = false;
  if (textarea.value) {
    const value: string = textarea.value.value;
    const body = { ...props.annotation.annotation.body, value };
    const annotation = { ...props.annotation.annotation, body };
    annotationsStore.storeAnnotation({ ...props.annotation, annotation });
  }
}
function startEditing(e: Event) {
  if (!editing.value && e.target !== storeButton.value) {
    editing.value = true;
    nextTick(function () {
      if (textarea.value) {
        textarea.value.focus();
      }
    });
  }
}
function stopEditing() {
  editing.value = false;
}
function niceFragment(text: string) {
  const parts = text.split(/\s+/);
  let i = 0;
  let out = "";
  while (i < parts.length && out.length + parts[i].length < 30) {
    if (out) {
      out += " ";
    }
    out += parts[i].trim();
    i += 1;
  }
  if (i < parts.length) {
    out += "…";
  }
  return out;
}
function date() {
  let date = props.annotation.annotation.modified;
  if (!date) {
    date = props.annotation.annotation.created;
  }
  return date.toISOString().slice(0, 10);
}
</script>

<template>
  <div
    class="annotation"
    @click="startEditing"
    @mouseover="mouseover"
    @mouseleave="mouseleave"
  >
    <p>
      <q>{{
        niceFragment(annotation.annotation.target.selector.refinedBy.exact)
      }}</q>
      <button class="delete" @click="deleteAnnotation">x</button>
    </p>
    <div v-show="editing" class="line">
      <textarea
        ref="textarea"
        v-focus
        :value="annotation.annotation.body.value"
        @keyup.esc="stopEditing"
      ></textarea>
      <button ref="storeButton" class="store" @click="storeAnnotation">
        v
      </button>
    </div>
    <div v-if="!editing">
      <p>{{ annotation.annotation.body.value }}</p>
      <div class="provenance">
        <span class="creator">{{ annotation.annotation.creator }}</span>
        <span class="date">{{ date() }}</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
button.delete {
  float: right;
  margin-top: -1ch;
  padding-top: -1ch;
  padding-left: 1ch;
}
div.line {
  display: flex;
  align-items: flex-end;
}
button {
  margin: 0;
  margin-left: 1ch;
  padding: 1ch;
}
div.annotation > p {
  margin-top: 1ch;
  padding-top: 1ch;
  margin-left: 0;
}
div.line > div > pre {
  margin-top: 1ch;
  margin-bottom: 1ch;
}
div.annotation {
  padding: 1ch;
  padding-top: 0;
  padding-right: 0;
  margin-top: 3ch;
  margin-bottom: 3ch;
}
textarea {
  flex: 2 1 auto;
}
div.provenance {
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  gap: 1ch;
  font-size: smaller;
  margin-right: 1ch;
}
span.creator {
  flex: 1 2 auto;
}
</style>
