<!--
SPDX-FileCopyrightText: 2022 Jos van den Oever

SPDX-License-Identifier: AGPL-3.0-only
-->

<script setup lang="ts">
import { PageSelection } from "../Annotation";
import AnnotationView from "./AnnotationView.vue";
import AddAnnotation from "./AddAnnotation.vue";
import { useAnnotationsStore } from "../stores/annotations";
defineProps<{
  selection: PageSelection;
}>();
const annotationsStore = useAnnotationsStore();
annotationsStore.loadAnnotations();
</script>

<template>
  <div>
    <h2>
      annotations
      <AddAnnotation :selection="selection" />
    </h2>
    <AnnotationView
      v-for="a in annotationsStore.annotations"
      v-show="a.page === selection.page"
      :key="a.id"
      :annotation="a"
    />
  </div>
</template>

<style scoped>
div.annotation {
  background-color: #f8f8f8;
}
div.annotation:hover {
  background-color: #f0f0f0;
}
</style>
