<!--
SPDX-FileCopyrightText: 2022 Jos van den Oever

SPDX-License-Identifier: AGPL-3.0-only
-->

<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import {
  PageTextIndex,
  Pdf,
  SelectionTexts,
  createPageTextIndex,
  findHighlightRects,
  loadPdf,
  setPage,
  setSelectionListener,
} from "../pdf";
import { PageSelection } from "../Annotation";
import { useAnnotationsStore } from "../stores/annotations";
const props = defineProps<{
  url: string;
  page: number;
}>();
const emit = defineEmits<{
  (e: "selection-changed", selection: PageSelection): void;
  (e: "document-loaded", page: number): void;
}>();
const annotationsStore = useAnnotationsStore();

const rectStyles = ref<string[]>([]);

let pdf: Pdf | undefined;

watch(
  () => props.page,
  async (page) => {
    const selection = window.getSelection();
    if (selection) {
      selection.removeAllRanges();
    }
    emit("selection-changed", {
      pdfUrl: props.url,
      page: props.page,
    });
    if (pdf) {
      await setPage(pdf, page);
    }
  }
);
watch(
  () => annotationsStore.hoveredAnnotation,
  (a) => {
    if (a && a.page === props.page && a.selection) {
      rectStyles.value = a.selection.rectStyles;
    } else {
      rectStyles.value = [];
    }
  }
);
watch(
  () => annotationsStore.annotations,
  () => updateAnnotationRects()
);

const pageContainer = ref<HTMLDivElement>();

function updateAnnotationRects() {
  if (!pdf || !pdf.pageView.textLayer) {
    return;
  }
  const div = pdf.pageView.textLayer.textLayerDiv;
  let index: PageTextIndex | undefined;
  for (const annotation of annotationsStore.annotations) {
    if (annotation.page === props.page && !annotation.selection) {
      if (!index) {
        index = createPageTextIndex(div);
      }
      const rects = findHighlightRects(
        annotation.page,
        index,
        annotation.annotation.target.selector.refinedBy
      );
      annotation.selection = rects;
    }
  }
}

onMounted(async () => {
  if (pageContainer.value) {
    pdf = await loadPdf(pageContainer.value, props.url, props.page || 1);
    pdf.eventBus.on("textlayerrendered", function () {
      updateAnnotationRects();
    });
    emit("document-loaded", pdf.doc.numPages);
    setSelectionListener(pdf, (text?: SelectionTexts) => {
      emit("selection-changed", {
        pdfUrl: props.url,
        page: props.page,
        selection: text,
      });
    });
  }
});
</script>

<template>
  <div ref="pageContainer" class="pdfViewer singlePageView">
    <div
      v-for="rectStyle in rectStyles"
      :key="rectStyle"
      class="highlightBox"
      :style="rectStyle"
    ></div>
  </div>
</template>

// cannot be scoped, because scoped breaks the selections
<style>
@import "pdfjs-dist/web/pdf_viewer.css";
div.highlightBox {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.3);
  z-index: 10;
}
div.textLayer {
  z-index: 11;
}
div.pdfViewer {
  position: relative;
}
</style>
