<!--
SPDX-FileCopyrightText: 2022 Jos van den Oever

SPDX-License-Identifier: AGPL-3.0-only
-->

<script setup lang="ts">
import { ref } from "vue";
import PdfJs from "./components/PdfJs.vue";
import AnnotationList from "./components/AnnotationList.vue";
import { PageSelection, emptyPageSelection } from "./Annotation";
const page = ref(0);
const pages = ref(0);
const selection = ref<PageSelection>(emptyPageSelection());

function selectionChanged(s: PageSelection) {
  selection.value = s;
}
function documentLoaded(numPages: number) {
  page.value = 1;
  pages.value = numPages;
}
</script>

<template>
  <div class="top-line">
    <button :disabled="page === 1" @click="page = Math.max(1, page - 1)">
      Prev
    </button>
    {{ page }}/{{ pages }}
    <button
      :disabled="page === pages"
      @click="page = Math.min(pages, page + 1)"
    >
      Next
    </button>
  </div>
  <div class="line">
    <PdfJs
      url="/test.pdf"
      :page="page"
      @selection-changed="selectionChanged"
      @document-loaded="documentLoaded"
    />
    <AnnotationList :selection="selection" />
  </div>
</template>

<style scoped>
div.top-line {
  display: flex;
  align-items: baseline;
}
div.line {
  display: flex;
  align-items: top;
}
</style>
